.avisosCategoria{
    width: 95%;
    height: 50%;
    margin-left: 3%;
    display: inline-block; 
}

.masReciente{
    width: 95%;
    height: 50%;
    margin-left: 3%;
    display: inline-block;
}

.masVendido{
    width: 95%;
    height: 50%;
    margin-left: 3%;
    display: inline-block;
}

.masComentado{
    width: 95%;
    height: 50%;
    margin-left: 3%;
    display: inline-block;
}

.masCaro{
    width: 95%;
    height: 50%;
    margin-left: 3%;
    display: inline-block;
}

.contenido{
    width: 23%;
    padding: 4px;
    float: left;
}

.divImgProducto{
   width: 100%;
   height: 60%;
}

.infoProducto{
    width: 95%;
    height: 38%;
    margin-left: 3%;
    background-color: #E2DBEE;
    border-radius: 5px;
    font-family: arial;
    font-size: 12px;
}

.imgProducto{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

