.divPregunta{
    width: 80%;
    height: 200px;
    background-color: red;
    margin-left: 5%;
    border-radius: 4px;
}

.labelProducto{
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
}